<h1>Reset Your Book Store Password</h1>
<p>Hello <%= @user.name %>,</p>
<p>Your OTP for password reset is: <strong><%= @otp %></strong></p>
<p>This OTP is valid for 1 minute.</p>
<p>If you didn’t request this, please ignore this email.</p>